<a href="https://colab.research.google.com/github/Putrimaesarah/CAPSTONE-DATMIN-KELOMPOK-J/blob/main/CAPSTONE_DATMIN_KELOMPOK_J.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KELOMPOK J

| Nama | NIM | Kelas |
| -------- | -------- | -------- |
| | 112209400000   | DS2   |
| | 112209400000   | DS2   |
|   | 11220940000   | DS2   |
| Putri Maesarah  | 11220940000046   | DS2   |

## Data Understanding:

1. **Nomor Induk Mahasiswa (NIM)** = Nomor Induk Mahasiswa yang digunakan sebagai identifikasi unik alumni.
2. **Tahun Masuk UIN Jakarta** = Tahun alumni mulai menempuh pendidikan di UIN Jakarta.
3. **Tahun Wisuda** = Tahun alumni menyelesaikan sidang dan diwisuda. Bisa diisi dengan tahun sidang jika lebih relevan.
4. **Bulan Wisuda** = Bulan saat alumni diwisuda.
5. **No HP (WhatsApp)** = Nomor telepon alumni.
6. **email** = Email alumni.
7. **Waktu Mendapatkan Pekerjaan** = Lama waktu (dalam bulan) dari saat wisuda hingga alumni mendapatkan pekerjaan pertama.
8. **Status saat ini** = Status terkini alumni, apakah mereka sedang melamar pekerjaan, mengurus rumah tangga, bekerja di sektor BUMN, PNS, swasta, berwirausaha, melanjutkan studi, atau menjadi pengajar.
9. **Tahun Wirausaha** = Tahun alumni memulai usaha, khusus bagi alumni yang menjadi wirausaha.
10. **Bidang wirausaha** = Keterangan singkat tentang bidang usaha yang dijalankan oleh alumni, khusus bagi yang berwirausaha.
11. **Perusahaan** = Nama perusahaan atau instansi tempat alumni bekerja saat ini.
12. **Posisi** = Posisi atau jabatan alumni di tempat kerja mereka saat ini.
13. **Penghasilan** = Perkiraan penghasilan bulanan alumni (take-home pay) dalam juta rupiah.
14. **Univeritas** = Nama universitas dan kota tempat alumni melanjutkan studi, jika ada.
15. **Tahun Masuk Studi Lanjut** = Tahun ketika alumni melanjutkan studi setelah lulus dari UIN Jakarta.
16. **Nama jurusan/program studi setelah Kuliah di FST UIN Jakarta** = Nama jurusan atau program studi yang diambil alumni saat melanjutkan pendidikan.
17. **Kesesuaian Kurikulum** = Skor yang diberikan alumni mengenai kesesuaian kurikulum program studi mereka dengan kebutuhan lapangan pekerjaan. Skala 1-5.
18. **Kesesuaian Bidang Ilmu** = Skor yang diberikan alumni tentang seberapa sesuai bidang ilmu yang mereka pelajari dengan pekerjaan mereka saat ini. Skala 1-5.
19. **Saran** = Komentar, kesan, dan saran alumni untuk pengembangan program studi.
20. **Program Studi** = Program studi yang diambil oleh alumni saat menempuh pendidikan di UIN Jakarta. Ada beberapa pilihan seperti Agribisnis, MAG (Magister), Biologi, Fisika, Kimia, Matematika, SI (Sistem Informasi), TI (Teknik Informatika), Teknik Pertambangan, dan MTI (Magister Teknik Informatika).
21. **Lama Bekerja di Institusi Saat ini** =  Lama waktu alumni bekerja di institusi/perusahaan tempat mereka bekerja saat ini.
22. **Kota tempat bekerja saat Ini** = Kota di mana alumni bekerja saat ini.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [ ]:
import warnings; warnings.simplefilter('ignore')

In [ ]:
!wget -P data https://github.com/Putrimaesarah/CAPSTONE-DATMIN-KELOMPOK-J/blob/main/alumni.csv

--2024-10-24 12:35:32--  https://github.com/Putrimaesarah/CAPSTONE-DATMIN-KELOMPOK-J/blob/main/alumni.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘data/alumni.csv.1’

alumni.csv.1            [  <=>               ] 427.35K  1.87MB/s    in 0.2s

2024-10-24 12:35:32 (1.87 MB/s) - ‘data/alumni.csv.1’ saved [437611]

In [8]:
Data = pd.read_csv("data/alumni.csv", low_memory = False, encoding='utf8')
Data

,Timestamp,Nomor Induk Mahasiswa (NIM),Tahun Masuk UIN Jakarta,Tahun Wisuda,Bulan Wisuda,No HP (WhatsApp):,email,Waktu Mendapatkan Pekerjaan:,Status saat ini:,Tahun Wirausaha,...,Penghasilan,Univeritas,Tahun Masuk Studi Lanjut:,Nama jurusan/program studi setelah Kuliah di FST UIN Jakarta:,Kesesuaian Kurikulum:,Kesesuaian Bidang Ilmu:,Saran,Program Studi,Lama Bekerja di Institusi Saat ini:,Kota tempat bekerja saat Ini
0,07/03/2024 08:09:53,1,2019,2023,Februari,85267511845,1@gmail.com,Belum mendapatkan pekerjaan,Melamar Pekerjaan,NaN,...,NaN,NaN,NaN,NaN,4,4,"Saran, dari prodi membuka kesempatan bekerja s...",Prodi Teknik Pertambangan,NaN,NaN
1,06/04/2024 11:27:37,2,2018,2024,Mei,85267511846,2@gmail.com,Belum mendapatkan pekerjaan,Melamar Pekerjaan,NaN,...,NaN,NaN,NaN,NaN,4,4,NaN,Agribisnis S1,NaN,NaN
2,06/04/2024 11:28:30,3,2018,2024,Mei,85267511847,3@gmail.com,6-12 bulan,Karyawan Swasta,NaN,...,NaN,NaN,NaN,NaN,5,5,NaN,Agribisnis S1,NaN,NaN
3,06/04/2024 11:28:54,4,2017,2024,Mei,85267511848,1@gmail.com,Kurang dari 3 bulan.,Melamar Pekerjaan,NaN,...,NaN,NaN,NaN,NaN,4,4,NaN,Agribisnis S1,NaN,NaN
4,06/04/2024 11:29:03,5,2019,2024,Mei,85267511849,2@gmail.com,Belum mendapatkan pekerjaan,Melamar Pekerjaan,NaN,...,NaN,NaN,NaN,NaN,4,4,NaN,Agribisnis S1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,09/11/2024 13:28:49,431,2020,2024,November,85267512275,2@gmail.com,1,Karyawan Swasta,NaN,...,NaN,NaN,NaN,NaN,4,5,"Adanya program job fair untuk para alumni, yan...",Prodi Teknik Pertambangan,NaN,NaN
431,09/18/2024 15:07:09,432,2019,2024,November,85267512276,3@gmail.com,1,Karyawan Swasta,-,...,3.5,-,-,-,4,5,Alhamdulillah semua berjalan dengan baik. Semo...,Prodi Agribisnis,NaN,NaN
432,10/14/2024 14:49:49,433,2020,2024,November,85267512277,1@gmail.com,Belum mendapatkan pekerjaan,Melamar Pekerjaan,NaN,...,NaN,NaN,NaN,NaN,4,4,saran untuk prodi membuat jadwal seminar supay...,Prodi Agribisnis,NaN,NaN
433,10/15/2024 14:43:58,434,2020,2024,November,85267512278,2@gmail.com,Belum mendapatkan pekerjaan,Melamar Pekerjaan,NaN,...,NaN,NaN,NaN,NaN,4,4,NaN,Prodi Agribisnis,NaN,NaN
434,10/18/2024 12:32:04,435,2020,2025,Agustus,85267512279,3@gmail.com,Belum mendapatkan pekerjaan,NaN,NaN,...,NaN,NaN,NaN,NaN,5,4,NaN,Prodi Agribisnis,NaN,NaN

## Informasi Data

### Data info

In [9]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 23 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Timestamp                                                       435 non-null    object
 1   Nomor Induk Mahasiswa (NIM)                                     435 non-null    int64
 2   Tahun Masuk UIN Jakarta                                         435 non-null    object
 3   Tahun Wisuda                                                    435 non-null    object
 4   Bulan Wisuda                                                    435 non-null    object
 5   No HP (WhatsApp):                                               435 non-null    int64
 6   email                                                           435 non-null    object
 7   Waktu Mendapatkan Pekerjaan:                                    435 non-null    object
 8   Status saat ini:                                                423 non-null    object
 9   Tahun Wirausaha                                                 46 non-null     object
 10  Bidang wirausaha:                                               47 non-null     object
 11  Perusahaan                                                      230 non-null    object
 12  Posisi                                                          232 non-null    object
 13  Penghasilan                                                     206 non-null    float64
 14  Univeritas                                                      47 non-null     object
 15  Tahun Masuk Studi Lanjut:                                       43 non-null     object
 16  Nama jurusan/program studi setelah Kuliah di FST UIN Jakarta:   44 non-null     object
 17  Kesesuaian Kurikulum:                                           435 non-null    int64
 18  Kesesuaian Bidang Ilmu:                                         435 non-null    int64
 19  Saran                                                           204 non-null    object
 20  Program Studi                                                   435 non-null    object
 21  Lama Bekerja di Institusi Saat ini:                             0 non-null      float64
 22  Kota tempat bekerja saat Ini                                    0 non-null      float64
dtypes: float64(3), int64(4), object(16)
memory usage: 78.3+ KB

### Menghapus variabel

In [10]:
# Menghapus kolom
Data.drop(columns=['Timestamp', 'Nomor Induk Mahasiswa (NIM)','email', 'No HP (WhatsApp):', 'Lama Bekerja di Institusi Saat ini:', 'Kota tempat bekerja saat Ini'], inplace=True)

In [11]:
# Mengganti nama beberapa kolom sekaligus
Data.rename(columns={'Tahun Masuk UIN Jakarta': 'Tahun Masuk', 'Waktu Mendapatkan Pekerjaan:': 'Waktu Mendapatkan Pekerjaan', 'Status saat ini:': 'Status saat ini', 'Bidang wirausaha:':'Bidang wirausaha',
                     'Univeritas':'Universitas', 'Tahun Masuk Studi Lanjut:':'Tahun Masuk Studi Lanjut', 'Nama jurusan/program studi setelah Kuliah di FST UIN Jakarta: ':'Jurusan Studi Lanjut', 'Kesesuaian Kurikulum:': 'Kesesuaian Kurikulum',
                     'Kesesuaian Bidang Ilmu:': 'Kesesuaian Bidang Ilmu'}, inplace=True)

In [12]:
Data.columns

Index(['Tahun Masuk', 'Tahun Wisuda', 'Bulan Wisuda',
       'Waktu Mendapatkan Pekerjaan', 'Status saat ini', 'Tahun Wirausaha',
       'Bidang wirausaha', 'Perusahaan', 'Posisi', 'Penghasilan',
       'Universitas', 'Tahun Masuk Studi Lanjut', 'Jurusan Studi Lanjut',
       'Kesesuaian Kurikulum', 'Kesesuaian Bidang Ilmu', 'Saran',
       'Program Studi'],
      dtype='object')

### Statistika deskriptif

In [13]:
Data.describe(include='all')

,Tahun Masuk,Tahun Wisuda,Bulan Wisuda,Waktu Mendapatkan Pekerjaan,Status saat ini,Tahun Wirausaha,Bidang wirausaha,Perusahaan,Posisi,Penghasilan,Universitas,Tahun Masuk Studi Lanjut,Jurusan Studi Lanjut,Kesesuaian Kurikulum,Kesesuaian Bidang Ilmu,Saran,Program Studi
count,435,435,435,435,423,46,47,230,232,2.060000e+02,47,43,44,435.000000,435.000000,204,435
unique,21,21,9,16,36,13,32,222,212,NaN,28,18,31,NaN,NaN,193,14
top,2019,2024,November,Belum mendapatkan pekerjaan,Karyawan Swasta,-,-,-,-,NaN,-,-,-,NaN,NaN,-,Prodi Biologi
freq,126,175,131,145,165,14,14,6,6,NaN,13,12,12,NaN,NaN,11,89
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.069035e+05,NaN,NaN,NaN,3.783908,3.724138,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.574860e+05,NaN,NaN,NaN,0.874218,1.057011,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000e+00,NaN,NaN,NaN,3.000000,3.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.450000e+00,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000e+00,NaN,NaN,NaN,4.000000,4.500000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.700000e+06,NaN,NaN,NaN,5.000000,5.000000,NaN,NaN

## Preprocessing

In [14]:
print(Data.shape)
Data.duplicated().sum()

(435, 17)

9

In [15]:
Data.drop_duplicates(inplace=True)
print(Data.duplicated().sum())
print(Data.shape)

0
(426, 17)

### Noise

Mengatasi noise pada kolom bidang wirausaha

In [16]:
Data['Bidang wirausaha'].unique()

array([nan, '-', 'ticketing services',
       'NayaOutfit : Usaha di bidang fashion muslimah dengan memenafaatkan e-commerce shopee, tiktok, lazada... Faeyzabouquet: membuat kerajinan buket dengan jangkauan yang cukup luas... Famanany_style : fashion anak muda namun sedang tidak beroperasi',
       'Pendidikan / Training', 'KOS', 'trading agribisnis',
       'Jasa Konsultan',
       'Usaha kuliner, menjual aneka dimsum dengan berbagai toping dijual secara offline maupun online',
       'Membuka les privat bagi siswa SD-SMA di bidang matematika, fisika, kimia, dan menjadi co-founder GeoXplore Indonesia',
       'Explorasi Geofisika khususnya air tanah menggunakan metode elektromagnetik ',
       'Konsultan IT ', 'Bimbingan Belajar', 'Seni dan kerajinan',
       'STEM Education dan Software Development', 'Textile', 'Makanan',
       'Menjual tiket saat ada suatu acara',
       'Bisnis souvenir custom CD album (shopee: pinahouse studio)',
       'Jasa traik tunai ', 'Bisnis Olshop', 'tidak ada', 'Kuliner',
       'Digital printing', 'usaha makanan ringan dan kue kering rumahan',
       'makanan ringan dan pernak pernik ', '—',
       'Jasa Wisata Alam dan Jasa Laundry Sepatu',
       'Peternakan sapi perah ', 'Kue',
       'Menjual pakaian anak di toko dan online',
       'tahun 2018 saya mendirikan boutique fashion yang bernama lalashopyyy sampai saat ini, lalashopyyy menjual barang seperti tas, baju, celana, sepatu, dan sebagainya, toko lalashopyyy sudah ada di Google Maps dan juga terdapat toko onlineshop di beberapa e commerce seperti shopee dan instagram yang bernama lalashopyyy.',
       'Fashion and beauty'], dtype=object)

In [17]:
# Ubah '—' dan "-" jadi nan
Data['Bidang wirausaha']=Data['Bidang wirausaha'].replace("-", np.nan)
Data['Bidang wirausaha']=Data['Bidang wirausaha'].replace("—", np.nan)

In [18]:
import pandas as pd
import numpy as np

# Contoh data, Anda bisa mengganti ini dengan DataFrame Anda
data = {
    'Bidang wirausaha': [
        'ticketing services',
        'NayaOutfit : Usaha di bidang fashion muslimah dengan memenafaatkan e-commerce shopee, tiktok, lazada...',
        'Pendidikan / Training', 'KOS', 'trading agribisnis',
        'Jasa Konsultan',
        'Usaha kuliner, menjual aneka dimsum dengan berbagai toping dijual secara offline maupun online',
        'Membuka les privat bagi siswa SD-SMA di bidang matematika, fisika, kimia, dan menjadi co-founder GeoXplore Indonesia',
        'Explorasi Geofisika khususnya air tanah menggunakan metode elektromagnetik ',
        'Konsultan IT ', 'Bimbingan Belajar', 'Seni dan kerajinan',
        'STEM Education dan Software Development', 'Textile', 'Makanan',
        'Menjual tiket saat ada suatu acara', 'Bisnis souvenir custom CD album (shopee: pinahouse studio)',
        'Jasa traik tunai ', 'Bisnis Olshop', 'tidak ada', 'Kuliner',
        'Digital printing', 'usaha makanan ringan dan kue kering rumahan',
        'makanan ringan dan pernak pernik ', '—',
        'Jasa Wisata Alam dan Jasa Laundry Sepatu', 'Peternakan sapi perah ',
        'Kue', 'Menjual pakaian anak di toko dan online',
        'tahun 2018 saya mendirikan boutique fashion yang bernama lalashopyyy sampai saat ini...',
        'Fashion and beauty'
    ]
}

# Membuat DataFrame
df = pd.DataFrame(data)

# Definisikan fungsi untuk mengelompokkan bidang wirausaha
def categorize_business(field):
    if pd.isna(field) or field == '-':
        return 'Tidak Terdefinisi'
    elif 'fashion' in field.lower() or 'pakaian' in field.lower():
        return 'Fashion'
    elif 'kuliner' in field.lower() or 'makanan' in field.lower() or 'dimsum' in field.lower():
        return 'Kuliner'
    elif 'pendidikan' in field.lower() or 'bimbingan' in field.lower() or 'training' in field.lower():
        return 'Pendidikan'
    elif 'konsultan' in field.lower() or 'jasa' in field.lower():
        return 'Jasa'
    elif 'agribisnis' in field.lower() or 'pertanian' in field.lower() or 'peternakan' in field.lower():
        return 'Agribisnis'
    elif 'teknologi' in field.lower() or 'it' in field.lower():
        return 'Teknologi'
    elif 'souvenir' in field.lower() or 'kerajinan' in field.lower():
        return 'Kerajinan'
    else:
        return 'Lainnya'

# Menerapkan fungsi untuk mengelompokkan bidang wirausaha
df['Kategori Wirausaha'] = df['Bidang wirausaha'].apply(categorize_business)

# Menampilkan hasil
print(df[['Bidang wirausaha', 'Kategori Wirausaha']])

                                     Bidang wirausaha Kategori Wirausaha
0                                  ticketing services            Lainnya
1   NayaOutfit : Usaha di bidang fashion muslimah ...            Fashion
2                               Pendidikan / Training         Pendidikan
3                                                 KOS            Lainnya
4                                  trading agribisnis         Agribisnis
5                                      Jasa Konsultan               Jasa
6   Usaha kuliner, menjual aneka dimsum dengan ber...            Kuliner
7   Membuka les privat bagi siswa SD-SMA di bidang...            Lainnya
8   Explorasi Geofisika khususnya air tanah menggu...            Lainnya
9                                       Konsultan IT                Jasa
10                                  Bimbingan Belajar         Pendidikan
11                                 Seni dan kerajinan          Kerajinan
12            STEM Education dan Software Development            Lainnya
13                                            Textile            Lainnya
14                                            Makanan            Kuliner
15                 Menjual tiket saat ada suatu acara            Lainnya
16  Bisnis souvenir custom CD album (shopee: pinah...          Kerajinan
17                                  Jasa traik tunai                Jasa
18                                      Bisnis Olshop            Lainnya
19                                          tidak ada            Lainnya
20                                            Kuliner            Kuliner
21                                   Digital printing          Teknologi
22        usaha makanan ringan dan kue kering rumahan            Kuliner
23                  makanan ringan dan pernak pernik             Kuliner
24                                                  —            Lainnya
25           Jasa Wisata Alam dan Jasa Laundry Sepatu               Jasa
26                             Peternakan sapi perah          Agribisnis
27                                                Kue            Lainnya
28            Menjual pakaian anak di toko dan online            Fashion
29  tahun 2018 saya mendirikan boutique fashion ya...            Fashion
30                                 Fashion and beauty            Fashion

In [19]:
# Melihat nilai unik dari kolom 'Kategori Wirausaha'
unique_categories = df['Kategori Wirausaha'].unique()

# Menampilkan hasil
print("Kategori Wirausaha yang unik setelah pengelompokan:")
print(unique_categories)

Kategori Wirausaha yang unik setelah pengelompokan:
['Lainnya' 'Fashion' 'Pendidikan' 'Agribisnis' 'Jasa' 'Kuliner'
 'Kerajinan' 'Teknologi']

### Missing value

In [20]:
Data.isnull().sum()

Tahun Masuk                      0
Tahun Wisuda                     0
Bulan Wisuda                     0
Waktu Mendapatkan Pekerjaan      0
Status saat ini                 12
Tahun Wirausaha                380
Bidang wirausaha               394
Perusahaan                     196
Posisi                         194
Penghasilan                    220
Universitas                    379
Tahun Masuk Studi Lanjut       383
Jurusan Studi Lanjut           382
Kesesuaian Kurikulum             0
Kesesuaian Bidang Ilmu           0
Saran                          222
Program Studi                    0
dtype: int64

### Ubah tipe data

### Outlier

## EDA